In [1]:
# https://www.dinolabs.ai/390
# https://www.dinolabs.ai/391
# https://foss4g.tistory.com/1410

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

import urllib.request
import datetime
import json
import glob
import sys
import os

import warnings
warnings.filterwarnings(action='ignore')

from pprint import pprint

import matplotlib.pyplot as plt
from matplotlib import rcParams
rcParams['font.family'] = 'Malgun Gothic'

In [2]:
lucky = pd.read_csv('C:/Users/sum/Downloads/real_lucky.csv')
lucky= lucky['연관키워드'].values.tolist()

In [4]:
client_id = '4q16leh0_qaAaRmX1lP2'
client_secret = 'biPayik_aS'
url = 'https://openapi.naver.com/v1/datalab/search'

startDate = '2022-01-01'
endDate = '2022-12-31'
timeUnit = 'month'
keywordGroups = [
    {'groupName':'산다라박', 'keywords':['산다라박']}
]


body = {
        'startDate' : startDate,
        'endDate' : endDate,
        'timeUnit' : timeUnit,
        'device' : 'mo',
        'keywordGroups' : keywordGroups,
    }
body = json.dumps(body)

request = urllib.request.Request(url)
request.add_header('X-Naver-Client-id', client_id)
request.add_header('X-Naver-Client-Secret', client_secret)
request.add_header('Content-Type', 'application/json')
response = urllib.request.urlopen(request, data=body.encode('utf-8'))
rescode = response.getcode()
#print(rescode)

result = json.loads(response.read())
#pprint(result)

if(rescode==200):
    df = pd.DataFrame(result['results'][0]['data'])[['period']]
    for i in range(len(keywordGroups)):
        tmp = pd.DataFrame(result['results'][i]['data'])
        #tmp = tmp.rename(columns={'ratio':result['results'][i]['title']})
        df = pd.merge(df, tmp, how='left', on=['period'])
    df = df.rename(columns={'period':'날짜'})
    df['날짜'] = pd.to_datetime(df['날짜'])
else:
    print('Error Code:' + rescode)
    
df['키워드'] = result['results'][i]['title']
    
df

           날짜      ratio   키워드
0  2022-01-01   60.83758  산다라박
1  2022-02-01   55.14545  산다라박
2  2022-03-01   27.66906  산다라박
3  2022-04-01  100.00000  산다라박
4  2022-05-01   43.50254  산다라박
5  2022-06-01   21.01028  산다라박
6  2022-07-01   94.27782  산다라박
7  2022-08-01   46.83421  산다라박
8  2022-09-01   52.50218  산다라박
9  2022-10-01   80.86815  산다라박
10 2022-11-01   36.61842  산다라박
11 2022-12-01   28.12104  산다라박